/*
* Copyright 2019 Wageningen Environmental Research
*
* For licensing information read the included LICENSE.txt file.
*
* Unless required by applicable law or agreed to in writing, this software
* is distributed on an "AS IS" basis, WITHOUT WARRANTIES OR CONDITIONS OF
* ANY KIND, either express or implied.
*/


body {
    margin-left: 20%;
    width: 60%;
    align-content: center
}

table {
    width: 100%;
}

th {
    background-color:#ccffcc;
}